@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}



@layer base {

  html,
  body {
    @apply p-0 m-0 font-sans scroll-smooth
  }

  a {
    @apply text-inherit
  }

  main,
  section {
    @apply w-full h-fit p-5 md:px-20
  }


  h1 {
    @apply text-5xl
  }

  h2 {
    @apply text-4xl
  }

  h3 {
    @apply text-3xl
  }

  h4 {
    @apply text-2xl
  }

  h5 {
    @apply text-xl
  }

  h6 {
    @apply text-lg
  }

  form {
    @apply w-full h-fit grid grid-cols-1
  }

  fieldset {
    @apply w-full h-fit grid grid-cols-1
  }

  label {
    @apply capitalize
  }

  input,
  textarea {
    @apply bg-transparent border-b-2 border-primary
  }

}

@layer components {

  .color-change {
    @apply invert-[.56] sepia-[.19] saturate-[3] hue-rotate-[351deg] brightness-95 contrast-[.92]
  }

  .primary-btn {
    @apply border-2 border-primary bg-primary text-black font-semibold text-lg capitalize px-6 py-2 
  }

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}